@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.contain {
  width: 1556px;
  margin-left: auto;
  margin-right: auto;
}

.top-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  background-color: #EFEFEE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-1-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.top-mnu-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.top-mnu-1 li {
  margin-right: 54px;
}

ul.top-mnu-1 li a {
  font-size: 16px;
  color: #2F3131;
}

.user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
  padding-left: 43px;
  font-size: 16px;
  color: #2F3131;
  background: url("/img/logo/user.svg") no-repeat left center;
}

.top-2 {
  padding: 20px 0 16px 0;
}

.top-2-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.logo span {
  margin-left: 43px;
  font-size: 16px;
  font-weight: 700;
  color: #2F3131;
}

.top-2-conts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-2-col {
  text-align: center;
  margin-left: 42px;
}

a.top-2-phone {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 6px;
  color: #000;
}

.top-2-phone-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 120px;
  padding: 0 20px;
  height: 42px;
  font-weight: 700;
  color: #2F3131;
  background-color: #FFCC34;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-transition: 0.5s ease background-color;
  transition: 0.5s ease background-color;
}

.btn:hover {
  text-decoration: none;
  background-color: #d8ab22;
}

.top-2-btn {
  padding: 5px 57px;
}

.top-3 {
  background-color: #00728f;
}

ul.top-nmu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.top-nmu-2 li a {
  padding: 0 60px;
  height: 57px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

ul.top-nmu-2 li a:hover {
  text-decoration: none;
  background-color: #0b5366;
}
